@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

@layer base {
  body {
    @apply antialiased bg-[#061521];
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Playfair Display',
      sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.text-gradient {
  background: linear-gradient(to right, #64ffda, #0891b2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

@media (max-width: 640px) {
  .animate-scroll {
    animation: scroll 10s linear infinite;
  }
}

@media (max-width: 480px) {
  .animate-scroll {
    animation: scroll 10s linear infinite;
  }
}


.container {
  max-width: 100vw;
  overflow-x: hidden;
}

img, video, canvas {
  max-width: 100%;
  height: auto;
}